table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.delete {
    cursor: pointer;
    color: #FF7411;
    margin-right: 20px;
}

.edit {
    cursor: pointer;
    color: #FF7411;
}

.agregar {
    font-size: 10px;
    line-height: 28px;
    background-color: #FF7411;
}

.ver {
    cursor: pointer;
    color: #FF7411;
    margin-left: 20px;
}