<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold titulo">BIENVENIDOS A LA BASE DE DATOS DE NORTHWIND</h1>
        <p class="col-md-8 parrafo">La compañia northwind de esta base de datos es una empresa que se de dedica a la venta
            de productos, y contiene todas las tablas necesarias para administrar cada uno de los procesos de negocio.
        </p>
        <button class="btn btn-lg button-color" type="button" (click)="goToNosotros()">Ver detalles</button>
    </div>
</div>