@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Datos MVC</h1>
    <p class="lead">A continuación podras ver diferentes datos Northwind</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Suppliers</h2>
        <p>
            Caracteristicas sobre diferentes proveedores.
        </p>
        <p><a class="btn btn-default" href="~/Suppliers/Index">Ver detalles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shippers</h2>
        <p>
            Caracteristicas sobre diferentes cargadores.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver detalles &raquo;</a></p>
    </div>
</div>