<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom titulo">
        CONTACTANOS
    </h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h3 class="fw-bold">
                ¿Te gustaria ser parte de nuestro team?
            </h3>
            <p class="text-body-secondary">
                NorthWind se esfuerza por alcanzar altos estándares que satisfagan las necesidades de los clientes y la estabilidad de la empresa.Nuestro calificado equipo de ingenieros, programadores y técnicos tiene una amplia experiencia en procesos.
            </p>
            <a href="#" class="btn button-color btn-lg">
                Sé Parte
            </a>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <h4 class="fw-semibold mb-0">
                        Teléfono
                    </h4>
                    <p class="text-body-secondary">
                        +1 (713) 589 5279
                    </p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <h4 class="fw-semibold mb-0">
                        Ubicación
                    </h4>
                    <p class="text-body-secondary">
                        HOUSTON, US
                        2100 West Loop South, Suite 900 – TX 77027
                    </p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <h4 class="fw-semibold mb-0">
                        Email
                    </h4>
                    <p class="text-body-secondary">
                        hello@northwind.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>