<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded p-4-color">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Te contamos sobre nosotros,Northwind</h1>
            <p class="lead my-3">NorthWind es una empresa de automatización ubicada en Kansas que ofrece soluciones de control y automatización a instalaciones de fabricación de todo el mundo. Nuestro calificado equipo de ingenieros, programadores y técnicos tiene una amplia experiencia en procesos, además de experiencia en programación y diseño en una amplia gama de industrias. </p>
            <p class="lead my-3">Las bases de datos son softwares especializados en el almacenamiento de datos de las empresas, de forma ordenada y categorizada por diferentes temas. Estas herramientas, permiten almacenar, ordenar y clasificar grandes cantidades de información empresarial, guardándolas en un disco duro.</p>
            <p class="lead mb-0"><a href="/contacto" class="text-color fw-bold">Sé parte</a></p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static p-4-color">
                    <h3 class="mb-0">Nuestra empresa</h3>
                    <div class="mb-1 text-body-secondary">1997</div>
                    <p class="card-text mb-auto">NorthWind Technical Services, LLC fue fundada por Mike y Marlene Bosworth en su casa a las afueras de Sabetha, Kansas. En ese momento, la empresa ofrecía principalmente servicios de consultoría de ingeniería.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static p-4-color">
                    <h3 class="mb-0">Northwind hoy..</h3>
                    <div class="mb-1 text-body-secondary">2023</div>
                    <p class="mb-auto">NorthWind se esfuerza por alcanzar altos estándares que satisfagan las necesidades de los clientes y la estabilidad de la empresa.Nuestro calificado equipo de ingenieros, programadores y técnicos tiene una amplia experiencia en procesos.</p>
                </div>
            </div>
        </div>
    </div>
</div>