<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
        <img class="bi mt-5 mb-3" width="200" height="200" src="./../assets/images/Error404.jpg" alt="Error404">
        <h1 class="text-body-emphasis">¡Error 404!</h1>
        <p class="col-lg-6 mx-auto mb-4">
            El recurso solicitado no se pudo encontrar en este servidor.
        </p>
        <button class="btn px-5 mb-5 button-color" type="button" (click)="goToHomePage()">
            Volver al inicio
        </button>
    </div>
</div>