body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #030328,#340f56);
  min-height: 90vh;
  width: 100vw;
  overflow-x: hidden;
}


h1, p {
  color: #fcfcfd;
  margin-bottom: 30px;
}

#numeroInput {
  width: 50px;
  margin: 10px;
}

#mensaje {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fcfcfc;
}

#puntaje {
  margin: 20px;
  color: #fcfcfd;
}
#reiniciarButton {
  margin-left: 70%;
}
.container {
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_hijo {
  background-color: #b197fc;
  height: 50vh;
  width: 30%;
  border-radius: 55px;
}
.body_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);

  color: var(--font-color-2);
  background-color: var(--background-color-2);
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #ae00ff;
  color: #fcfcfc;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
}

button span {
  position: absolute;
}

button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

button:active span:nth-child(1) 
span:nth-child(2) 
span:nth-child(2) 
span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px){

}